[Unit]
Description=Phone Detectinator

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python /opt/phone_detectinator.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
